<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/general}">
<head>
    <title sec:authorize="isAuthenticated()" th:text="${'현장공사 - 바로세움'}"></title>
</head>
<body>
<div layout:fragment="content" class="bg-white" th:with="construction=${#authentication.principal.memberGeneral.construction}">
    <h1 th:text="${construction.location} + ' - 현장공사 general 메인 페이지(로그인 후)'"></h1>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.location.href = '/general/construction/' + [[${#authentication.principal.memberGeneral.construction.id}]];
    </script>
</th:block>
</body>
</html>