<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/general}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${title ?: '사용자 HTML 보기'}"></title>
    <!-- 스크립트 실행 제한 -->
<!--    <meta http-equiv="Content-Security-Policy" content="script-src 'none';">-->
    <!-- (선택) 외부 링크 허용을 위한 CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;">
</head>
<body>
<div layout:fragment="content">
    <div class="" id="mobile1-content">
        <!-- 메인 컨테이너 -->
        <div class="flex flex-col items-center w-full max-w-md mx-auto px-4 py-4">
            <!-- 사용자 HTML 삽입 위치 -->
            <div th:utext="${htmlContent}"></div>
        </div>
    </div>
</div>
</body>
</html>