<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>안전지도사 관리 어드민</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icons/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Toast UI Editor CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/theme/toastui-editor-dark.min.css" />
    <!-- Toast UI Editor JS -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="">
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light" style="padding-bottom: 20px; text-align: center;">
            <a href="/main" style="text-decoration: none; color: inherit;">안전지도사<br>관리 어드민</a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/request/construction/list">건설공사현장 문의요청</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/construction/list">건설공사현장 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/admin/list">건설공사현장 매니저 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/notice">공지사항 관리</a>

            <!-- 서브메뉴가 있는 항목 예시 -->
            <div class="list-group-item list-group-item-light p-0">
                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#shortcutsSubmenu1" role="button">
                    <span>공정관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div class="collapse" id="shortcutsSubmenu1">
                    <div class="list-group list-group-flush ps-4">
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 1</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 2</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 3</a>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-light p-0">
                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#shortcutsSubmenu2" role="button">
                    <span>품질관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div class="collapse" id="shortcutsSubmenu2">
                    <div class="list-group list-group-flush ps-4">
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 1</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 2</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 3</a>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-light p-0">
                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#shortcutsSubmenu3" role="button">
                    <span>안전관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div class="collapse" id="shortcutsSubmenu3">
                    <div class="list-group list-group-flush ps-4">
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 1</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 2</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">서브메뉴 3</a>
                    </div>
                </div>
            </div>

            <!-- 또 다른 서브메뉴가 있는 항목 예시 -->
            <div class="list-group-item list-group-item-light p-0">
                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#eventsSubmenu" role="button">
                    <span>Events</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div class="collapse" id="eventsSubmenu">
                    <div class="list-group list-group-flush ps-4">
                        <!-- 첫 번째 서브메뉴 아이템과 그의 하위메뉴 -->
                        <div class="list-group-item list-group-item-light p-0 border-0">
                            <a class="d-flex justify-content p-2" data-bs-toggle="collapse" href="#eventType1Submenu" role="button">
                                <span>이벤트 유형 1</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <div class="collapse" id="eventType1Submenu">
                                <div class="list-group list-group-flush ps-3">
                                    <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 1-1</a>
                                    <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 1-2</a>
                                </div>
                            </div>
                        </div>
                        <!-- 두 번째 서브메뉴 아이템과 그의 하위메뉴 -->
                        <div class="list-group-item list-group-item-light p-0 border-0">
                            <a class="d-flex justify-content p-2" data-bs-toggle="collapse" href="#eventType2Submenu" role="button">
                                <span>이벤트 유형 2</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <div class="collapse" id="eventType2Submenu">
                                <div class="list-group list-group-flush ps-3">
                                    <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 2-1</a>
                                    <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 2-2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Settings 서브메뉴 -->
<!--            <div class="list-group-item list-group-item-light p-0">-->
<!--                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#settingsSubmenu" role="button">-->
<!--                    <span>Settings</span>-->
<!--                    <i class="bi bi-chevron-down"></i>-->
<!--                </a>-->
<!--                <div class="collapse" id="settingsSubmenu">-->
<!--                    <div class="list-group list-group-flush ps-4">-->
<!--                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">일반 설정</a>-->
<!--                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">보안 설정</a>-->
<!--                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">알림 설정</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                           <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                               <a class="dropdown-item" href="#!">Action</a>
                               <a class="dropdown-item" href="#!">Another action</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" href="#!">Something else here</a>
                           </div>
                       </li>
                        <li class="nav-item active">
                            <form th:action="@{/auth/logout}" method="post" style="display: inline;">
                                <button type="submit" class="nav-link" style="background: none; border: none;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" layout:fragment="content" />
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!--<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<th:block layout:fragment="script"></th:block>
<style>
    #sidebar-wrapper {
        overflow-x: hidden;
        min-height: 100vh;
        margin-left: 0;
        transition: margin .25s ease-out;
    }
    
    #sidebar-wrapper .list-group-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* 모바일 화면에서 사이드바 토글 관련 스타일 */
    /*
    @media (max-width: 768px) {
        #sidebar-wrapper {
            margin-left: -15rem;
        }
        
        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }
    }
    */
</style>
</body>
</html>