<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바로세움</title>
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Google tag (gtag.js) 및 application.yml 또는 config로 환경 설정 -->
    <script async th:if="${@environment.acceptsProfiles('prod')}" th:src="'https://www.googletagmanager.com/gtag/js?id=G-XXXXXXX'"></script>
    <script th:if="${@environment.acceptsProfiles('prod')}" th:inline="javascript">
        // // GA 코드 삽입
        // window.dataLayer = window.dataLayer || [];
        // function gtag(){dataLayer.push(arguments);}
        // gtag('js', new Date());

        // // GA(prod) 코드 삽입
        // gtag('config', 'G-XXXXXXX');

        // //var pageTitle = [[${pageTitle} ?: '타이틀 없음']];
        // //var pagePath = [[${pagePath} ?: 'Path 없음']];
        // gtag('event', 'page_view', {
        //   //page_title: 'My Page',
        //   //page_path: '/mypage'
        //   //page_title: [[${pageTitle}]],
        //   //page_path: [[${pagePath}]]
        //   page_title: pageTitle,
        //   page_path: pagePath
        // });
    </script>
</head>
<!--<iframe src="/htmls/common1.html" height="0" width="0" style="overflow-y:hidden" frameborder='0' scrolling="no"></iframe>-->
<body class="">
<div layout:fragment="content" />

</body>
</html>