<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- <title>안전지도사 관리 매니저</title> -->
    <!-- <title>바로세움 매니저</title> -->
    <title th:utext="${#authentication.principal.memberAdmin.location}"></title> 

    <link rel="icon" type="image/x-icon" th:href="@{/assets/icons/favicon.ico}" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.min.css}">
    <!-- Toast UI Editor CSS -->
    <link rel="stylesheet" th:href="@{/css/toastui/toastui-editor.min.css}" />
    <link rel="stylesheet" th:href="@{/css/toastui/toastui-editor-dark.min.css}" />

    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Toast UI Editor JS -->
    <script th:src="@{/js/toastui/toastui-editor-all.min.js}"></script>
    <!-- 타일윈드 CSS 스크립트 추가 (프리픽스 설정) -->
    <script th:src="@{/js/tailwind/tailwindcss.js}"></script>
    <script>
      tailwind.config = {
        // prefix: 'tw-', // 모든 타일윈드 클래스에 'tw-' 프리픽스 추가(ex) class="bg-blue-500" → class="tw-bg-blue-500", class="text-white" → class="tw-text-white")
        // important: true, // 타일윈드 스타일에 !important 추가 (필요한 경우)
        important: '.tailwind-section', // tailwind-section 안에서만 타일윈드 스타일 우선 적용
        corePlugins: {
          preflight: false, // 기본 스타일 초기화 비활성화
        //   container: false, // 컨테이너 유틸리티 비활성화(타일윈드 설정에서 부트스트랩과 충돌하는 일부 컴포넌트나 유틸리티를 비활성화)
        }
      }
    </script>
</head>
<iframe src="/htmls/common1.html" height="0" width="0" style="overflow-y:hidden" frameborder='0' scrolling="no"></iframe>
<body class="">
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper" style="overflow: hidden;">
        <div class="sidebar-heading border-bottom bg-light" style="padding-bottom: 20px; text-align: center;">
            <a href="/main" style="text-decoration: none; color: inherit;">
                <!-- 안전지도사<br>
                관리 매니저(<span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.memberAdmin.construction.location}" />) -->
                <!-- <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.memberAdmin.construction.location}" /> -->
                <span sec:authorize="isAuthenticated()" th:utext="${#authentication.principal.memberAdmin.location}" />
            </a>
        </div>
        <div class="list-group list-group-flush">
            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/general/list">건설공사현장 회원관리</a> -->
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/general/list">회원관리</a>
            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/inquiry/manager/list">의견제출</a> -->
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/inquiry/list">의견제출</a>
            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="javascript:alert('해당 페이지는 준비중입니다.');">의견제출</a> -->
            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/notice">건설공사현장 공지사항</a> -->
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/notice">공지사항</a>

            <!-- 동적으로 관리 메뉴 표시 -->
            <th:block th:if="${#authentication.principal.memberAdmin.construction.managementMenus != null}">
                <!-- 공정관리 메뉴 -->
                <div class="list-group-item list-group-item-light p-0" th:if="${#arrays.contains(#authentication.principal.memberAdmin.construction.managementMenus, '공정관리')}">
                    <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#processManagementSubmenu" role="button">
                        <span>공정관리</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <div class="collapse" id="processManagementSubmenu">
                        <div class="list-group list-group-flush ps-4">
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/process/sub1">서브메뉴 1</a> -->
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/process/work-discussion">업무협의</a> -->
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/process/work-discussion">업무등록</a>
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/process/sub3">서브메뉴 3</a> -->
                        </div>
                    </div>
                </div>
                
                <!-- 품질관리 메뉴 -->
                <div class="list-group-item list-group-item-light p-0" th:if="${#arrays.contains(#authentication.principal.memberAdmin.construction.managementMenus, '품질관리')}">
                    <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#qualityManagementSubmenu" role="button">
                        <span>품질관리</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <div class="collapse" id="qualityManagementSubmenu">
                        <div class="list-group list-group-flush ps-4">
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/quality/sub1">서브메뉴 1</a>
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/quality/sub2">서브메뉴 2</a>
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/quality/sub3">서브메뉴 3</a> -->
                        </div>
                    </div>
                </div>
                
                <!-- 안전관리 메뉴 -->
                <!-- <div class="list-group-item list-group-item-light p-0" th:if="${#arrays.contains(#authentication.principal.memberAdmin.construction.managementMenus, '안전관리')}">
                    <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#safetyManagementSubmenu" role="button">
                        <span>안전관리</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <div class="collapse" id="safetyManagementSubmenu">
                        <div class="list-group list-group-flush ps-4">
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/sub1">서브메뉴 1</a>
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/sub2">서브메뉴 2</a>
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/risk-factor/list">위험요인관리</a>
                        </div>
                    </div>
                </div> -->
                <div class="list-group-item list-group-item-light p-0" th:if="${#arrays.contains(#authentication.principal.memberAdmin.construction.managementMenus, '안전관리')}">
                    <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#safetyManagementSubmenu" role="button">
                        <span>안전관리</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <div class="collapse" id="safetyManagementSubmenu">
                        <div class="list-group list-group-flush ps-4">
                            <!-- 첫번째 서브메뉴 아이템과 그의 하위메뉴 -->
                            <!-- <div class="list-group-item list-group-item-light p-0 border-0"> -->
                                <!-- <a class="d-flex justify-content p-2" data-bs-toggle="collapse" href="#safetyManagementType1Submenu" role="button"> -->
                                    <!-- <span>서브메뉴1</span> -->
                                    <!-- <i class="bi bi-chevron-down"></i> -->
                                <!-- </a> -->
                                <!-- <div class="collapse" id="safetyManagementType1Submenu">
                                    <div class="list-group list-group-flush ps-3">
                                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 1-1</a>
                                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="#!">상세 항목 1-2</a>
                                    </div>
                                </div> -->
                            <!-- </div> -->
                            <!-- 두번째 서브메뉴 아이템과 그의 하위메뉴 -->
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/sub2">서브메뉴 2</a> -->
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/sub3">서브메뉴 3</a> -->
                            <!-- 세번째 서브메뉴 아이템과 그의 하위메뉴 -->
                            <div class="list-group-item list-group-item-light p-0 border-0">
                                <a class="d-flex justify-content p-2" data-bs-toggle="collapse" href="#safetyManagementType3Submenu" role="button">
                                    <span>위험요인관리</span>
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <div class="collapse" id="safetyManagementType3Submenu">
                                    <div class="list-group list-group-flush ps-3">
                                        <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/risk-factor/list">Mobile용</a> -->
                                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/risk-factor/list">모바일용</a>
<!--                                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="javascript:alert('pc용 페이지는 준비중입니다.');">PC용</a>-->
                                        <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/risk-factor/list-pc">PC용</a> -->
                                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/safety/risk-factor/list-pc">데스크탑용</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 설정(Settings) 메뉴 -->
                <div class="list-group-item list-group-item-light p-0">
                    <a class="d-flex justify-content p-3" data-bs-toggle="collapse" href="#settingsSubmenu" role="button">
                        <!-- <span>설정(Settings)</span> -->
                        <span>확장메뉴</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <div class="collapse" id="settingsSubmenu">
                        <div class="list-group list-group-flush ps-4">
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/settings/menu-manager">커스텀 메뉴관리</a> -->
                            <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/settings/menu-manager">메뉴설정</a>
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/settings/sub2">서브메뉴 2</a> -->
                            <!-- <a class="list-group-item list-group-item-action list-group-item-light p-2" href="/settings/sub3">서브메뉴 3</a> -->
                        </div>
                    </div>
                </div>

                <!-- 커스텀 메뉴 표시 -->
                <th:block th:if="${@customMenuService.getRootMenusWithChildrenByConstructionId(#authentication.principal.memberAdmin.construction.id) != null}">
                    <th:block th:each="rootMenu : ${@customMenuService.getRootMenusWithChildrenByConstructionId(#authentication.principal.memberAdmin.construction.id)}">
                        <div class="list-group-item list-group-item-light p-0" th:if="${rootMenu.isActive}">
                            <!-- 하위 메뉴가 있는 경우 -->
                            <th:block th:if="${!rootMenu.children.isEmpty()}">
                                <a class="d-flex justify-content p-3" data-bs-toggle="collapse" th:href="'#customMenu' + ${rootMenu.id}" role="button">
                                    <span th:text="${rootMenu.name}"></span>
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <div class="collapse" th:id="'customMenu' + ${rootMenu.id}">
                                    <div class="list-group list-group-flush ps-4">
                                        <a class="list-group-item list-group-item-action list-group-item-light p-2"
                                           th:each="childMenu : ${rootMenu.children}"
                                           th:if="${childMenu.isActive}"
                                           th:href="${childMenu.url}"
                                           th:text="${childMenu.name}"></a>
                                    </div>
                                </div>
                            </th:block>
                            <!-- 하위 메뉴가 없는 경우 -->
                            <th:block th:if="${rootMenu.children.isEmpty()}">
                                <a class="d-flex justify-content p-3" th:href="${rootMenu.url}">
                                    <span th:text="${rootMenu.name}"></span>
                                </a>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
            </th:block>
        </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
<!--                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>-->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                <span sec:authentication="name"></span>-->
<!--                            </a>-->
<!--                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">-->
<!--                                <form th:action="@{/auth/logout}" method="post" style="display: inline;">-->
<!--                                    <button type="submit" class="dropdown-item">Logout</button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </li>-->
                        <li class="nav-item active">
                            <form th:action="@{/auth/logout}" method="post" style="display: inline;">
                                <button type="submit" class="nav-link" style="background: none; border: none;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" layout:fragment="content" />
    </div>
</div>
<!-- Bootstrap core JS-->
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html> 