<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <title layout:title-pattern="$CONTENT_TITLE - 공사현장"> </title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icons/favicon.ico}" />
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<!--    <link rel="stylesheet" th:href="@{/css/tailwind.css}">-->
    <!-- PWA 관련 -->
    <link rel="manifest" href="/manifest.json">
    <!-- Page specific CSS -->
    <th:block layout:fragment="css">
        <style>
            /* 모바일 화면에서 서브(sub)헤더 숨기기 (508px 미만에서 적용) */
            @media (max-width: 507px) {
                header.header-sub {
                    display: none !important;
                }
            }
        </style>
    </th:block>

    <script src="/js/tailwindcss.js"></script>
</head>
<body class="bg-[#DAE4FA] flex flex-col min-h-screen">
    <!-- Header/Navigation -->
    <div th:replace="~{fragments/header-general :: header}"></div>
    <!-- Header Sub/Navigation -->
    <div th:replace="~{fragments/header-general-sub :: header-sub}"></div>

    <!-- Main Content -->
    <main class="w-full pt-24 flex-grow">
        <div layout:fragment="content" class="container mx-auto">
            <!-- Page content will be inserted here -->
        </div>
    </main>

    <!-- Bottom Button Section -->
    <div layout:fragment="bottom-button">
        <!-- Bottom button content will be inserted here -->
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer-general :: footer}"></div>

    <!-- Common JavaScript -->
    <script th:src="@{/js/main.js}"></script>

    <!-- Page specific JavaScript -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>