<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/error1.html}"
      th:with="pageTitle='404 error', pagePath='/error/404'"
>
<head>
    <!-- <title>페이지를 찾을 수 없습니다 - 관리자</title> -->
    <title>바로세움 - 404</title>
</head>
<body class="bg-gradient-primary">
    <div class="container" layout:fragment="content">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5 text-center">
                                    <div class="text-center">
                                        <h1 class="h1 text-gray-900 mb-4">404</h1>
                                        <h2 class="h4 text-gray-900 mb-4">페이지를 찾을 수 없습니다</h2>
                                        <p class="mb-4">요청하신 페이지가 존재하지 않거나 이동되었을 수 있습니다.</p>
                                        <a href="/" class="btn btn-primary">
                                            홈으로 돌아가기
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>